// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  // Insert your own theme rules here

  .parent {position: relative;}

  .child {
    position: relative;
    transform: perspective(1px) translateY(-50%);
  }



  .main-layout{
    border-radius: 5px;
    border: 2px;
    background-color: #edeff2;
    margin: 25px;
    box-shadow: 8px 4px 8px 4px rgba(0,0,0,0.2);
  }

.logoLayout{
  margin-top: 80px;
  //background-image: url("img/stage.jpg");
  background-color: #a0a0a0;
}
  .homepage_layout{
    background-color: #a0a0a0;
  }

  .corners {
    border: 1px solid;
    border-radius: 20px;
  }

  .login_buttons{
    color: white;
  }


  .dropPane{
    background-color: black;
  }

  .droparea{
    border:2px dashed darkgray;
  }
  .droparea .v-label {
    color: #919083;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
  }

  .bills{
    margin-top: 10px;
  }

  .address-layout{
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .preview-button{
    margin-right: -250px;
    margin-bottom: -130px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  .preview-button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }


  .user-button{
    color: white;
    width: 200px;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  .save-button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }



  .preview-button-loading{
    margin-right: -250px;
    margin-bottom: -100px;
    background-image: url("img/ellipsis.svg");
  }

  .title-layout{
    margin-top: 40px;

  }

  .invisible{
    visibility: hidden;
  }

  .visible{
    visibility: visible;
  }

  .total-style{
    margin-top: 45px;
  }

  .textfield-background{
    background-color: rgba(0,0,0,0.1);
  }

  .textfield-background-dark{
    background-color: rgba(0,0,0,0.6);
  }

  .currency-buttons{
    width: 100%;
  }

  .currency-buttons:hover {
    background-color: rgba(0,0,0,0.1);
  }

.preview-layout{
  background-color: transparent;
}



}
